$theme: #0049FF;
$corner-radius: .5rem;
$responsive-width: 600px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
html, body {
    height: 100%;
    background: #F8F9FD;
}
#wrapper {
    width: 80%;
    margin: 2.5rem auto;
    @import 'components/header';
    @import 'components/section';

    @media screen and (max-width: $responsive-width) {
        width: unset;
        margin: 0;
        padding: .8rem;
    }
}